@import './mixins';

/* General */
$layout-border-radius: 12px; /* // ?  border radius of layout element e.g. card, sidebar */
$layout-transition-duration: 0.2s; /* // ?  transition duration of layout elements e.g. sidebar, overlay menus */

/* Animations */
$fade-in-duration: 300ms;
$fade-in-duration-timing-function: ease;

/* Screen */
$screen-mobile-max: 768px;
$screen-tablet-max: 992px;
$screen-notebook-max: 1200px;
$screen-large-monitor-min: calc($screen-notebook-max + 1px);

:root {
    /* Z-indexes */
    --app-header-z-index: 20;
    --app-side-menu-z-index: 19;

    /* Main */
    --app-header-height: 70px;
    --app-side-menu-width: 300px;
    --main-padding: 24px;
    --medium-padding: 16px;
    --small-padding: 8px;
    --card-box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
        0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

    @include mobile {
        --main-padding: 16px;
        --medium-padding: 16px;
        --small-padding: 4px;
        --card-box-shadow: none;
    }
}
